body {
  color: '#333333';
  font-family: 'Open Sans', 'Gill Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  background-color: #EEEEEE;
}

ul {
  padding: 0 20px;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #009;
}

#container {
  position: fixed;
  top: 0;
  left: 0;
}

.centered {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.list {

}

.large-text {
  font-size: 16px;
  font-weight: bold;
}

.medium-text {
  font-size: 12px;
  font-weight: normal;
}

.centered-children {
  /* height: 100vh; */
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  /* align-items: center; */
  margin-top: 10px;
  justify-content: center;
}

.ui-container {
  margin: 0;
  position: fixed;
  z-index: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
}

.button-background {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 48px;
  height: 48px;
}

.options {
  margin-bottom: 16px;
  position: absolute;
  bottom: 0;
}

.editor {
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.debug {
  bottom: 0;
  right: 0;
}